config MT7697
	bool "MediaTek MT7697 support"
	default y
	---help---
	  MediaTek MT7697 chip.
	  Taken from mangoh/mangoh linux_drivers/

if MT7697

source "drivers/net/wireless/mt7697wifi/cp2130-driver/Kconfig"
source "drivers/net/wireless/mt7697wifi/mt7697q-driver/Kconfig"
source "drivers/net/wireless/mt7697wifi/mt7697serial-driver/Kconfig"

endif # MT7697
